.cardCity{
    margin:2px;
    display:flex;
    width:300px;
    height:250px;
}

.card-body{
    display:flex;
    justify-content:center;
    align-items:center;
    background-size:cover;
    border-radius:10px;
    opacity: 0.9;
    text-shadow: 1px 1px 1px black;
}

.card-body:hover{
    filter: grayscale(80%);
    .card-title,.card-country {
         display:none;
    }
    .card-text{
        display: flex;
        text-shadow: 1px 1px 1px black;
    }
}

.card-country{
    display:flex;
}

.card-text{
    display:none;
}

.container{   
    color:white;
    width:80%;
    border-radius: 3%;
    font-weight: bold;
}

.card-title{
    font-size: 1.5rem;
}