.city{
    height:1000px;
    background-size: cover;
    margin:0
}

.details, .leyend{
    justify-content:center;
    align-items: center;
    text-align:center;
    color: white;
    background-color:none;
    font-size:2em;
    padding-top:5%;
}

.leyend h1{
    text-align:center;
    justify-content:center;
    background-color: grey;
    margin-top: 5%;
    opacity:0.7;
}

.back{
   padding:3%;
}

