.city{
    background-size: cover;
    margin:0;
    min-height: 100vh;
}

.details{
    justify-content:center;
    align-items: center;
    text-align:center;
    color: white;
    background-color:none;
    font-size:2em;
    font-weight: bold;
    padding:3% 0 3% 0;
    text-shadow: 1px 1px 1px black;
}
.itinerary{
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content:center 
}

.back{
   padding:2%;
}

.itiEmpty{
    height: 25em;
    justify-content:center;
}



