header{
  background-color:#C1D1EA;
}

.logo{
  margin-left: 5%;
}

.menu{
  justify-content: flex-end;
}

.anchor{
  display:flex;
  justify-content:flex-end;
  gap: 25px
}

.link{
  --b: 0.1em;   
  --c: gray;   
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

.link:hover {
  --_p: 100%;
  --_s: .3s;
}

.login, .logout{
    display:flex;
    justify-content:center;
    align-items: center;
    gap:5px;
    border-radius: 5px;
    width:100%;
    padding:16px;   
}

.login:hover{
    color: white;
    background-color: #6D99E0;
}

.logout:hover{
    color: white;
    background-color: #E75555;
}

.userprofile{
    text-align:center;
    border-radius: 5px; 
}

.profile:hover{
    color: gray;
}

.profile img{
  border-radius:50%;
  width:2.5em; 
}

.dropdown-menu{
  position: fixed;
  padding:0;
  margin:20px 15px 0 20px;
}

@media (max-width: 1024px) {
  .dropdown-menu{
   margin:20px 0 0 -25px;
 }
}

@media (max-width: 768px) {
     .userprofile {
    text-align:left;
    padding-top:5%
  }
    .dropdown-menu{
   margin:10px 0 0 0px;
 }

}


