*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link{
    font-family: "Times New Roman", Times, serif;
    font-size:1.2em
}

.welcome{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.citiesImg{
    display:flex;
    justify-content: center;
    align-items: center;
}

.citiesrow{
   
}

img{
    width: 20%;
}